<h1>Welcome to Find your Animal Today! - Where we make an animal and give them a reason why we love them. </h1>
<%= link_to "Sign Up", '/users/new' %><br><br>
<%= link_to "Log in", '/sessions/new' %>
<h1> "some sort of link that will show them a place to sign in with their facebook"</h1>
