<h1> "Here are all of your animals so far" </h1>
<h1> "for each animal EDIT this animal and its reason" </h1>
<h1> "for each animal DELETE this animal and its reason" </h1>

<h1> "click here to see all animals ever created link to index page in animals view" </h1>

<h1> "Make a new animal with a new reason link" </h1>

<h1> "log out link to delete session, then will redirect to homepage"</h1>