<h1> Here is your new animal</h1><br>
<%= @animal.name.capitalize%><br><br>
<h2>The reasons people like that animal so far...</h2>
<% @reasons.each do |reason| %>
    - <%= reason.words %><br><br>
    <%end%><br><br>
    
    <%= link_to "Click here to see all animals ever created", animals_path %><br><br>
    <%= link_to "Back to your profile", user_path(current_user.id) %>
   