<h1> Here you can find all the animals' names and reason users liked it in a listed format.</h1>
<%@animals.each do |animal| %>
    <%@users.each do |user| %>
        <h3><%=user.name%> says they liked the <%= animal.name %>.</h3>
        <% animal.reasons.each do |i| %>
        <h3>They said they liked it because <%= i.words %>.</h3>
        <%end%><br>
    <%end%>
<%end%>

    <%= link_to "Back to your profile", user_path(current_user.id) %>
    
