<h1> "animals name and reason people like it in a listed format;
dog->user1 says they liked that animal because their tail wags " </h1>
<%@animals.each do |animal| %>
    <%= animal.name %>
    
    <% animal.reasons.each do |i| %>
    <%= i.comment %>
    <%end%>
    <%end%><br><br>
    
<%= link_to "Back to your profile", user_path(current_user.id) %>
